* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
font-family: ´Roboto´, sans-serif;
    
}

body{
    background-image: url(../imagenes/IM3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja__trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(red, green, blue, alpha);
}

.caja__trasera div{
    margin: 100px 40px;
    color: rgb(240, 230, 230);
    transition: all 500ms;
}

.caja__trasera div p,
.caja__trasera div button{
    margin-top: 30px;
}

.caja__trasera button{
    padding: 10px  40px;
    border: 2px solid #949b8e;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: rgb(130, 161, 124);
    outline: none;
    transition: all 500ms;
}

a {
    
    padding: 10px  20px;
    border: 2px solid #949b8e;
    font-size: 14px;
    font-weight: 600;
    background: #faf9f9;
    color: rgb(130, 161, 124);
    list-style: none;
    transition: all 300ms ease;
    
}

.caja__trasera button:hover{
    background: #b6abab;
    color: rgb(66, 66, 70); 
}


form{
    width: 100%;
    padding: 80px 20px;
    background-color: rgb(170, 162, 147);
    position:relative;
    border-radius: 20px;
}

form h1{
    font-size: 30px;text-align: center;
    margin-bottom: 20px;
    color: #e4e7e2;
}
form h2{
    font-size: 30px;text-align: center;
    margin-bottom: 20px;
    color: #e4e7e2;
}

form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: #f2f2f2;
    outline: none;
}

p{
    padding: 40px 20px;
}

.caja__botones{
   padding: 10px 20px;
   list-style: none;
   text-align: center;
   
}